@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


html{
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
.linear-bg {
    background: linear-gradient(270deg, #ffffff, #e4e4e4, #cecdcd);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar-items{
    text-shadow: 1px 0px 1px #000;
    font-size: 1.2rem;

}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000000;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .mainPageText{
    color: #131313;
    
    letter-spacing: .15em;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    color: #131313;
    display: inline-block;
	padding-bottom: 3px;
   
  }
 
.mainPageText:after {
	content: '';
	display: block;
	margin: 10px;
	height: 1px;
	animation: underline 2s infinite;
}
@keyframes underline {
  0% { width: 0%; background-color: black;}
  100% {width: 100%; background-color: transparent;}
}